.calendar {
  text-align: center;
  margin-top: 8%;
}

.DayPicker-wrapper{
  border-radius: 10%;
  box-shadow: 2px 2px 3px 4px #ccc  ;
}

.shelterTable {
  margin: auto;
  text-align: left;
  border: 1px black solid;
}

.shelterTable__body-row{
    border: 1px solid black;
    width: 15rem;
}