.infoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60vh;
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;

  &__para{
    text-align: left;
    margin-left: 40%;

    &-span{
      font-weight: bold;
    }
  }
}

.infoTable{
  margin: auto;
  margin-top: 5rem;
  text-align: left;
  border: 1px black solid;

  &__body-cell{
    border: 1px black solid;
  }
}